<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <p><%=kakao %></p>
    <p><%=redirect %></p>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=<%=kakao%>&redirect_uri=<%=redirect%>&response_type=code">이동</a>
</body>
</html>